.wait-gif {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

body {
  max-height: 520px;
  max-width: 607px;
  padding-top: 30px;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
}

table .news__container {
  max-width: 100%;
}

.news-item {
  padding: 5px;
  border: 1px solid #eeeeee;
  margin-top: 15px;
}

.news-item:first-of-type {
  margin: 0;
}

.news-item .admin-actions {
  margin: 10px 0;
  position: relative;
}

.news-item .admin-actions .news-title {
  font-size: 1.8em;
  font-weight: bold;
}

.news-item .admin-actions .news-actions {
  height: calc(100% - 0.8em);
  position: absolute;
  right: 0;
  bottom: 0;
}

.news-item .admin-actions .news-actions .news-status {
  padding-right: 10px;
  padding-left: 30px;
  display: inline-block;
}

.news-item .news-content {
  max-height: 300px;
}

.card img {
  max-height: 200px;
  width: 100%;
}

#banner .card img {
  max-height: 130px;
  width: 66%;
  margin-top: 10px;
  margin-left: 80px;
}

#body {
  max-height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cke_contents {
  height: 140px !important;
}

#cke_30 {
  display: none;
}

