extends ../layout.pug
block content
    div
        form(method="post",action="#{action}")
            <?php echo csrf_field(); ?>
            div
                label(for="title") Заголовок (необязательно)
                input(type="text",class="form-control",name="title",id="title")
            div.form-group
                label(for="category_id") Категория
                select(name="category_id",id="category_id",class="form-control")
                    option(value="1") Политика
                    option(value="2") Экономика
                    option(value="3") Технологии
                    option(value="4") Другое
            div.radio
                label.radio-inline
                    input(type="radio",name="is_link",value="1",id="is_link_1",checked="checked")
                    != 'Ссылка на источник'
                label.radio-inline
                    input(type="radio",name="is_link",value="0",id="is_link_0")
                    != 'Ввод вручную'
                div
            div.form-group
                input(name="content_link",id="content_link",class="form-control",placeholder="вставьте ссылку")
                input(name="content",id="content",class="form-control",placeholder="содержание новости",style="display: none")
            div.form-group
                button(type="submit",class="btn btn-primary btn-lg") Отправить